<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 20.08.2022, 11:37</time>
            <h2><a href="">My first post</a></h2>
            <p>I can't believe that I am actually setting this up when I had no idea what html and css were a month and a half ago.</p>
        </article>

        <article>
            <time>published: 20.08.2022, 11:39</time>
            <h2><a href="">My second post</a></h2>
            <p>If this is what to come, I can't wait to see what the future holds coding all of this stuff.  It is NOT easy by any means, but it sure doesn't feel like work.</p>
        </article>
    </body>
</html>